{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    <div class="home">

        <div class="col-12" id="home_page_img" style="background-image: url('{{ asset('build/images/strony_internetowe.9f401546.jpg') }}');">
            
            <h2 class="d-flex aligcin-items-center justify-content-center pt-3 pb-3" style="color:darkgreen">Lorem ipsum</h2>
            <p class="d-flex aligcin-items-center justify-content-center pt-4">is simply dummy text of the printing and typesetting</p>
            <p class="d-flex aligcin-items-center justify-content-center pb-2">is simply dummy text of the printing and typesetting</p>
            <p class="d-flex aligcin-items-center justify-content-center pb-5">is simply dummy text of the printing and typesetting</p>
            <p class="d-flex aligcin-items-center justify-content-center pb-5">is simply dummy text of the printing and typesetting</p>

        </div>

        <div id="offer" class="row col-10 offset-1 d-flex aligcin-items-center justify-content-center pb-2">

            <div class="offer-item col-3">

                <img class="main-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/e7c3c3c9-9e06-4370-a98d-e9b0e918179c/Default_web_design_webside_project_dark_0.jpg">
                <p class=" offer_main_hedline ms-3">Tworzenie Stron Internetowych</p>
                <img class="secondary-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/ccb8f2e1-8cf9-4b90-918b-17aa06ef8ce1/Default_web_design_project_dark_0.jpg">

                <ul class="offer_secondary_hedline ms-3">
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                </ul>
            </div>

            <div class="offer-item col-3">

                <img class="main-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/ccb8f2e1-8cf9-4b90-918b-17aa06ef8ce1/Default_web_design_project_dark_0.jpg">
                <p class=" offer_main_hedline ms-4">Edycja Stron Internetowych</p>
                <img class="secondary-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/6d49e8ec-de2d-46c0-bb00-036d2c4e68dd/Default_web_design_desk_project_dark_0.jpg">
                <ul class="offer_secondary_hedline ms-3">
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                </ul>
            </div>

            <div class="offer-item col-3">

                <img class="main-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/6d49e8ec-de2d-46c0-bb00-036d2c4e68dd/Default_web_design_desk_project_dark_0.jpg">
                <p class=" offer_main_hedline ">Optymalizacja SEO</p>
                <img class="secondary-img" src="https://cdn.leonardo.ai/users/c10ca3b2-243c-4877-8e40-93ef802c0694/generations/e7c3c3c9-9e06-4370-a98d-e9b0e918179c/Default_web_design_webside_project_dark_0.jpg">
                <ul class="offer_secondary_hedline ms-3">
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                    <li>lorem ipsum upsum</li>
                </ul>
            </div>

        </div>   

        <div class="row mt-5 mb-5 ms-0 me-0">
            <div class="col-4 offset-2 ">

                <h4 class="mt-5 mb-3" style="color:darkgreen">Czym sie zajmuje?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue tortor, commodo eget nisl a, auctor laoreet nunc. Nulla velit dolor, fermentum eu molestie eu, aliquet efficitur lectus. Pellentesque quam magna, euismod eu nunc eu, suscipit elementum massa. Nulla libero lectus, condimentum quis ante in,</p>
            </div>

            <div class="col-5">

                <img src="https://nonsa.pl/images/4/46/Kiepski.jpg">
            </div>
        </div>

        <h4 class="d-flex aligcin-items-center justify-content-center mb-5 mt-5" style="color:darkgreen">Technologie z ktorymi pracuje</h4>

        <div id="tech" class=" row col-12 d-flex aligcin-items-center justify-content-center">

            <div class="tech_item col-1 "><img class="tech-img " src="{{asset("build/images/html-5.7edb4c52.png")}}"/> 

                <div class="tech_item_desc mt-2">

                    <h6>HTML5</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img class="tech-img " src=" {{asset("build/images/wordpress.png")}} "/> 

                <div class="tech_item_desc mt-2">

                    <h6>Wordpress</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img class="tech-img"src="{{asset("build/images/js.png")}}"/> 

                <div class="tech_item_desc mt-2">

                    <h6>JavaScript</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img id="symfony-img" class="tech-img" src="{{asset("build/images/symfony-icon.png")}}"/> 

                <div class="tech_item_desc mt-2">

                    <h6>Symfony</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img class="tech-img"src="{{asset("build/images/php.png")}}"/> 

                <div class="tech_item_desc mt-2">

                    <h6>PHP</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img class="tech-img"src="{{asset("build/images/css.png")}}"/> 

                <div class="tech_item_desc mt-2">

                    <h6>CSS</h6>
                </div>
            </div>

            <div class="tech_item col-1 "><img class="tech-img"src="{{asset("build/images/bootstrap.png")}}"/> 

                <div class="tech_item_desc mt-2">
                    <h6>Bootstrap</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
